$font-sizes:(
    "small":0.5rem,
    "initial":0.875rem,
    "medium":1rem,
    "large":1.5rem,
    "x-large":2rem,
    "xx-large":5rem
);
$titillium-font-weight:(
    "ExtraLight":200,
    "Light":300,
    "Regular":400,
    "SemiBold":600,
    "Bold":700,
    "Black":900
);
$rubik-font-weight:(
    "Light":300,
    "Regular":400,
    "Medium":500,
    "SemiBold":600,
    "Bold":700,
    "ExtraBold":800,
    "Black":900
);
$rainbow:(
    $puerple, $cyan, $green, $yellow, $orange
)
