@import './reset';
@import './variables';
@import './maps';
@import './functions';
@import './mixin';

body {
    @include flexCenter(flex-end);
    background-color: $green;
    width: $full-width;
    height: $full-height;
    color: $dark;
    .main{
        width: 80%;
        // margin: 2em auto;
        border: 1px solid $dark;
        border-radius: .3rem;

        &-header{
            font-size: map-get($font-sizes, xx-large );
            font-family: font-family(Titillium);
            transition: color .3s ease-in-out;
            font-weight: titilliu-weight("Black");
            &:hover {
                color: $orange;
            }
        }
        p{
            font-family: font-family(Rubik);
            color: $white;
            font-weight: map-get($titillium-font-weight, Light);
            font-size: map-get($font-sizes, large );
        }
        @for $i from 1 through length($rainbow) {
            p:nth-child(#{$i+1}){
                background-color: nth($rainbow, $i );
            }
        }
    }
}